<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
  </head>
  <body>
    <form action="/login" method="post">
      <input type="text" name="username" placeholder="Enter your username" />
      <input type="email" name="email" placeholder="Enter your email here" />
      <input type="password" placeholder="Passkey here" />
      <input type="submit" value="Sign in" />
    </form>
  </body>
</html>
